/.idea/
/vendor
/public/*.*
/public/wp-admin
/public/wp-content/index.php
/public/wp-content/plugins/*
/public/wp-content/themes/*
/public/wp-content/themes/mytheme/*/node_modules
/public/wp-content/uploads
/public/wp-includes
/public/wp-includes/*
/uploads
debug.log
*.sql

# Add here custom plugin(s)
!/public/wp-content/plugins/myplugin
# Add here custom themes(s)
!/public/wp-content/themes/mytheme
!/public/wp-content/plugins/acf-repeater
!/public/wp-content/plugins/advanced-custom-fields
!/public/wp-content/plugins/uk-cookie-consent
