header {
  padding-top: 25px;
  height: 75px;
  background-color: $cyan;
  color: white;
  text-transform: uppercase;

  .menu-container {
    ul {
      li {
        display: inline-block;
        padding-left: 30px;

        a {
          text-decoration: none;
          color: $white;

          &:hover {
            color: $black;
          }
        }
      }
    }
    ul li a {
      text-decoration: none;
      color: $white;
    }
  }
}
