#wow-modal-window-1 {
  background-color: $cyan !important;
  color: white;
  text-transform: uppercase;
}

.wow-modal-overlay {
  .modal-window-content {

    h2 {
      text-align: center;
    }
    p {
      margin: 0 auto;
      width: 100%;
      display: block;

      label {
        width: 100%;
        margin-top: 10px;

        input {
          width: 100%;
          border: 0;
          border-radius: 5px;
          height: 35px;
        }

        textarea {
          width: 100%;
          border: 0;
          border-radius: 5px;
          height: 100px;
        }

        input[type='checkbox'] {
          width: 15px;
          height: 15px;
          border: 0;
          zoom: 1.3;
        }

      }

    }

    .wpcf7-submit {
      padding: 15px 50px;
      background-color: $white;
      color: $white;
      border: 0;
      border-radius: 10px;
      margin: 0 auto;
      display: block;
      color: $purple;
      text-transform:uppercase;
    }

  }
}


